pkgbase = akaease-bin
	pkgdesc = A native, lightweight Linux music client for Netease Cloud Music built with Tauri 2 & Rust
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/heathacosta259519-dot/AkaEase
	arch = x86_64
	license = MIT
	depends = webkit2gtk-4.1
	depends = gstreamer
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gst-plugins-bad
	depends = gst-plugins-ugly
	depends = libsecret
	depends = gtk3
	depends = cairo
	depends = glib2
	depends = openssl
	provides = akaease
	provides = akanetease-desktop
	conflicts = akaease
	conflicts = akanetease-desktop
	options = !strip
	options = !debug
	source = akaease-bin-0.1.0.tar.gz::https://github.com/heathacosta259519-dot/AkaEase/releases/download/v0.1.0/akanetease-desktop-0.1.0-linux-x86_64.tar.gz
	sha256sums = 92ad6fa4eba3b8a6959c2ab21c2cc0f2714cca72d9c4ca0a2593550b07ef3f29

pkgname = akaease-bin
